:root {
    --dark-brown-color: rgb(49, 31, 9);
    --white-color: rgb(255, 255, 255);
    --orange-color: rgb(255, 138, 0);
    --light-brown-color: rgb(92, 69, 41);
    --gray-color: rgb(236, 240, 241);
    --dark-gray-color: rgb(227, 226, 224);
}
