/* css for the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* button styles */

.btn {
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.btn-small {
    height: 50px;
    border-radius: 133px;
    padding-left: 36px;
    padding-right: 36px;
}

.btn-medium {
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    padding-right: 36px;
    padding-left: 36px;
}

.btn-large {
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
    font-weight: 600;
    font-size: 20px;
    height: 74px;
}

.btn-green {
    background-color: #3fa72f;
}

.btn-orange {
    background-color: #ff8a00;
    border-radius: 162px;
}

.btn-black {
    background-color: #311f09;
}

.btn-gray {
    color: #311f09;
    background-color: #ecf0f1;
}

.btn-white {
    color: #000000;
    background-color: #ffffff;
}